* {
  padding: 0;
  margin: 0;
}

.sent {
  flex-direction: row-reverse;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  margin-right: 5px;
}

.received p {
  background: #e5e5ea;
  color: black;
  margin-left: 5px;
}

#div_sign_out {
  max-width: 100%;
}

#sign_out {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
}

#sign_out button {
  background-color: #282c34;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25em;
  border-radius: 15px;
}

#sign_out button:hover {
  color: white;
  background-color: rgb(170, 43, 43);
}

#sign_out h2 {
  color: white;
  font-size: 1.5em;
}

#leave_room {
  margin: 0 5px;
}

#divbutton {
  display: flex;
  flex-direction: row;
}

#container_sign_in {
  background: url('../public/background-image.jpg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
}

#div_sign_in {
  text-align: center;
  margin: 0 auto;
  max-width: 728px;
}

#sign_in {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
}

#sign_in button {
  padding: 2%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: transparent;
  color: aliceblue;
  border: 1px solid white;
}

#sign_in button:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
  transition: 0.8s;
}

#sign_in h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: aliceblue;
  margin-bottom: 5%;
}

#container_form {
  font-family: sans-serif;
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

#div_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 10%;
}

#style_button {
  height: 45px;
}
